{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <script src="{% static 'main/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>

<body>
    <p>Fill {{ n_vertices }} x {{ n_vertices }} Adjacency Matrix</p>
    <p>Empty cells are considered to be 0</p>
    <form action="" method="POST" id="bfs_form">
        {% csrf_token %}
        <div class="adj">
            <br>
            {% for v1 in range %}
            {{ v1 }}
            {% for v2 in range %}
            {% if v1 == 0 %}
            <span class="input_wrapper">
                <label for="field{{v1}}{{v2}}">{{ v2 }} </label>
                <input type="text" name="field{{v1}}{{v2}}" size="3">
            </span>
            {% else %}
            <input type="text" name="field{{v1}}{{v2}}" size="3">
            {% endif %}
            {% endfor %}
            <br>
            {% endfor %}
            <br>
        </div>
        <input type="submit" onclick="" value="BFS">
    </form>
    <p id="result" style="color:green"></p>
</body>

</html>