{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>  
    <script src="{% static 'main/graphviz.js' %}"></script>
    <script src="{% static 'main/perform.js' %}"></script>
    {% block head %}

    {% endblock head%}
</head>
<body>
    <input type="button" name="reset-btn" id="reset-btn" value="Reset">
    <form method="POST" id="submit-form">
        {% csrf_token %}
        <input type="text" name="source" id="source" placeholder="Source Vertex">
    </form>
    <input type="button" name="submit-btn" id="submit-btn" value="Submit">
    {% block body %}

    {% endblock body %}
</body>
</html>
