{% extends "main/index.htm" %}
{% load static %}

{% block heading %}
<title>BFS/DFS</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
<script src="{% static 'main/bfsdfs.js' %}"></script>
{% endblock heading %}

{% block body %}

<div id="content">
    <div class="mt-3">
        <p class="text-info">Breadth-first search (BFS) is an algorithm for traversing or searching tree or graph data structures. It starts at the tree root, and explores all of the neighbor nodes at the present depth prior to moving on to the nodes at the next depth level. It uses <mark>Queue</mark> data structure.</p>
        <p class="text-info">The opposite, Depth-first search (DFS), which instead explores the node branch as far as possible before being forced to backtrack and expand other nodes. It uses <mark>Stack</mark> data structure.</p>
    
    </div>
    <form method="POST" id="submit-form" class="mx-3">
        {% csrf_token %}
        <input type="radio" name="traversal-type" id="bfs" name="traversal" value="bfs" checked>
        <label for="DFS" class="text-muted">BFS</label>
        <input type="radio" name="traversal-type" id="dfs" name="traversal" value="dfs" class="ml-2">
        <label for="DFS" class="text-muted">DFS</label>
        <br>
        <input type="text" name="source" id="source" placeholder="Source" style="width: 70px; height: 25px; font-size: 0.7rem">
        <br>
        <button class="my-2 btn btn-success btn-sm" id="submit-btn" type="button">Start</button>
        <input class="mx-1 my-2 btn btn-secondary btn-sm" type="button" name="reset-btn" id="reset-btn" value="Reset">
    </form>
    
    <div class="float-right mb-3">
      <p class="text-white mt-3 mb-1">Left click to add nodes</p>
      <p class="text-white mb-0">Right click to add edges</p>
    </div>
    <br>
    <br>
    
    <div id="sketch-holder" style="position: relative; height: 110vh">
    </div>
</div>
<style>
    .text-info {
        font-size: 1rem;
    }
    #content{
        margin-left: 15px;
    }
</style>

{% endblock body %}
