{% extends "main/index.htm" %}
{% load static %}

{% block heading %}
<title>BFS</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
<script src="{% static 'main/bfsdfs.js' %}"></script>
{% endblock heading %}

{% block body %}
<div class="mt-3">
    <p class="text-info">Prim's is a greedy algorithm that finds a minimum spanning tree for a weighted undirected
        graph.</p>
    <p class="text-secondary">It finds a subset of the edges that forms a tree that includes every vertex, where the
        total weight of all the edges in the tree is minimized. The algorithm operates by building this tree one vertex
        at a time, from an arbitrary starting vertex, at each step adding the cheapest possible connection from the tree
        to another vertex.</p>

</div>
<form method="POST" id="submit-form" class="mx-3">
    {% csrf_token %}
    <input type="radio" name="traversal-type" id="bfs" name="traversal" value="bfs" checked>
    <label for="DFS" class="text-muted">BFS</label>
    <input type="radio" name="traversal-type" id="dfs" name="traversal" value="dfs" class="ml-2">
    <label for="DFS" class="text-muted">DFS</label>
    <br>
    <input type="text" name="source" id="source" placeholder="Source" style="width: 70px; height: 25px; font-size: 0.7rem">
    <br>
    <button class="my-2 btn btn-success btn-sm" id="submit-btn" type="button">Start</button>
    <input class="mx-1 my-2 btn btn-secondary btn-sm" type="button" name="reset-btn" id="reset-btn" value="Reset">
</form>

<p class="text-white mt-3 mb-1 mx-3">Left click to add nodes</p>
<p class="text-white mb-0 mx-3">Right click to add edges</p>

<div id="sketch-holder" style="position: relative; height: 110vh">
</div>

<style>
    .text-info {
        font-size: 1.10rem;
    }

    .text-secondary {
        font-size: 1.0rem;
    }
</style>

{% endblock body %}