{% extends "main/index.htm" %}
{% load static %}

{% block heading %}
<title>BFS</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
<script src="{% static 'main/graphviz.js' %}"></script>
<script src="{% static 'main/perform.js' %}"></script>
{% endblock heading %}

{% block body %}
<div class="row">
    <div class="col">
        <div id="sketch-holder">
            <p id="identifier" class="text-muted">BFS</p>
            <p class="text-muted">Click to places vertices.</p>
        </div>
    </div>
    <div class="col">
        <div class="input-info mt-5">
            <form method="POST" id="submit-form">
                {% csrf_token %}
                <input type="text" name="source" id="source" placeholder="Source Vertex">
            </form>
            <input class="my-2 btn btn-success" type="button" name="submit-btn" id="submit-btn" value="Submit">
            <input class="mx-1 my-2 btn btn-secondary" type="button" name="reset-btn" id="reset-btn" value="Reset">
        </div>
    </div>
</div>


{% endblock body %}