{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>  
    <script src="{% static 'main/graphviz.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <input type="button" name="reset_btn" id="reset" value="Reset">
    <form action="" method="POST" id="bfs_form">
        {% csrf_token %}
        <input type="text" name="source" id="source" placeholder="Source Vertex">
    </form>
    <input type="button" name="submit_btn" id="submit" value="BFS">

</body>
<script>
    $("document").ready(function(){
        $("#reset").on("click", function(){
            resetSketch();
        });
        $("#submit").on("click", function(){
            var src = $("#source").val();
            var mat = getAdjMat();
            $.ajax({
                type: 'POST',
                url: '/home/bfs/info/',
                data: {
                    values: JSON.stringify({
                        'src': src,
                        'mat': mat
                    }),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){
                    var result = data["result"];
                    initBFS(result);
                }

            })
        })
    });

</script>
</html>