{% extends "main/index.htm" %}
{% load static %}
{% block heading %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<script src="https://unpkg.com/mappa-mundi@0.0.5/dist/mappa.js" type="text/javascript"></script>
<title>Dijkstra</title>
<script src="{% static 'main/utils.js' %}"></script>
<script src="{% static 'main/lin_reg.js' %}"></script>

{% endblock heading %}

{% block body %}

<div class="info">
  <p class="text-info mt-3">Dijkstra's algorithm is an algorithm for finding the shortest paths between nodes in a
    graph,
    which may represent, for example, road networks.</p>
  <p class="text-muted">For a given source node in the graph, the algorithm finds the shortest path between that node
    and every other. It is a <mark>greedy</mark> algorithm.</p>
  <p class="text-muted">It can be implemented in <mark>O(V&sup2) </mark> by using Adjacency Matrix but this can be
    improved to <mark> O(|E|+|V|log |V|)</mark> by using a Fibonacci heap min-priority queue.</p>
  <!-- Instructions -->
  <br>
  <p class="text-white">Left click to add vertices.</p>
  <p class="text-white">Right click to add edges.</p>
  <p class="text-white">Middle mouse to navigate around the map.</p>
</div>

<div>
  <script src="{% static 'main/dijkstra.js' %}"></script>
  <button id="start-btn" class="my-3 mx-2">Start</button>
  <input type="text" id="destination" placeholder="Destination" class="ml-5 mx-2" style="width: 90px">
  <button id="destination-btn" class="my-3 mx-2">Show path</button>
</div>


<div id="sketch-holder" style="position: relative; height: 110vh">
</div>


<style>
  .text-info {
    font-size: 1.25rem !important;
  }

  .text-muted {
    font-size: 1.05rem !important;
  }
</style>

{% endblock body %}