{% extends "main/index.htm" %}
{% load static %}
{% block heading %}
<title>Visual Algorithms</title>
{% endblock heading %}
{% block body %}


<!-- Cards -->
<div class="card-deck mx-3">
  <!-- Row 1 -->
  <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
    <div class="mt-5 card border-primary col-sm-12 h-100">
      <img class="card-img-top mt-3" src="{% static 'main/images/BFS.png' %}" alt="">
      <div class="card-body text-center d-flex flex-column">
        <h3 class="card-title bg-warning">BFS</h3>
        <p class="card-text text-muted text-left">Traverses all neighbors of a given node and then all the
          neighbors of the traversed neighbors through Queue.</p>
        <a href="{% url 'bfs_visual' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
    <div class="mt-5 card border-primary col-sm-12 h-100">
      <img class="card-img-top mt-3" src="{% static 'main/images/DFS.png' %}" alt="">
      <div class="card-body text-center d-flex flex-column">
        <h3 class="card-title bg-warning">DFS</h3>
        <p class="card-text text-muted text-left">Uses a stack to maintain track of traversal. All the nodes of a
          neighboring nodes are visited before visting the other neighboring nodes.</p>
        <a href="{% url 'dfs_visual' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
    <div class="mt-5 card border-primary col-sm-12 h-100">
      <img class="card-img-top mt-3" src="{% static 'main/images/DFS.png' %}" alt="">
      <div class="card-body text-center d-flex flex-column">
        <h3 class="card-title bg-warning">Dijkstra's SSP</h3>
        <p class="card-text text-muted text-left">Uses a stack to maintain track of traversal. All the nodes of a
          neighboring nodes are visited before visting the other neighboring nodes. </p>
        <a href="{% url 'dijkstra' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
    <div class="mt-5 card border-primary col-sm-12 h-100">
      <img class="card-img-top mt-3" src="{% static 'main/images/BFS.png' %}" alt="">
      <div class="card-body text-center d-flex flex-column">
        <h3 class="card-title bg-warning">Prim's MST</h3>
        <p class="card-text text-muted text-left">Traverses all neighbors of a given node and then all the
          neighbors of the traversed neighbors through Queue.</p>
        <a href="{% url 'prims_mst' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
    <div class="mt-5 card border-primary col-sm-12 h-100">
      <img class="card-img-top mt-3" src="{% static 'main/images/DFS.png' %}" alt="">
      <div class="card-body text-center d-flex flex-column">
        <h3 class="card-title bg-warning">Convolution2D</h3>
        <p class="card-text text-muted text-left">Uses a stack to maintain track of traversal. All the nodes of a
          neighboring nodes are visited before visting the other neighboring nodes.</p>
        <a href="{% url 'convolution' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
    <div class="mt-5 card border-primary col-sm-12 h-100">
      <img class="card-img-top mt-3" src="{% static 'main/images/DFS.png' %}" alt="">
      <div class="card-body text-center d-flex flex-column">
        <h3 class="card-title bg-warning">DFS</h3>
        <p class="card-text text-muted text-left">Uses a stack to maintain track of traversal. All the nodes of a
          neighboring nodes are visited before visting the other neighboring nodes. </p>
        <a href="{% url 'dfs_visual' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
    <div class="mt-5 card border-primary col-sm-12 h-100">
      <img class="card-img-top mt-3" src="{% static 'main/images/BFS.png' %}" alt="">
      <div class="card-body text-center d-flex flex-column">
        <h3 class="card-title bg-warning">BFS</h3>
        <p class="card-text text-muted text-left">Traverses all neighbors of a given node and then all the
          neighbors of the traversed neighbors through Queue.</p>
        <a href="{% url 'bfs_visual' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
    <div class="mt-5 card border-primary col-sm-12 h-100">
      <img class="card-img-top mt-3" src="{% static 'main/images/DFS.png' %}" alt="">
      <div class="card-body text-center d-flex flex-column">
        <h3 class="card-title bg-warning">DFS</h3>
        <p class="card-text text-muted text-left">Uses a stack to maintain track of traversal. All the nodes of a
          neighboring nodes are visited before visting the other neighboring nodes.</p>
        <a href="{% url 'dfs_visual' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 mb-5">
    <div class="mt-5 card border-primary col-sm-12 h-100">
      <img class="card-img-top mt-3" src="{% static 'main/images/DFS.png' %}" alt="">
      <div class="card-body text-center d-flex flex-column">
        <h3 class="card-title bg-warning">DFS</h3>
        <p class="card-text text-muted text-left">Uses a stack to maintain track of traversal. All the nodes of a
          neighboring nodes are visited before visting the other neighboring nodes. </p>
        <a href="{% url 'dfs_visual' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>
<br>

{% endblock body %}