{% extends "main/index.htm" %}
{% load static %}
{% block heading %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<title>Value Iteration</title>
<script src="{% static 'main/utils.js' %}"></script>
<script src="{% static 'main/value_iteration.js' %}"></script>

{% endblock heading %}

{% block body %}
<div class="info">
    <p class="text-info">Reinforcement learning (RL) is an area of machine learning concerned with how software agents
        ought to take actions in an environment in order to maximize the notion of cumulative reward. Reinforcement
        learning is one of three basic machine learning paradigms, alongside supervised learning and unsupervised
        learning.</p>
    <p class="text-muted">It differs from supervised learning in not needing labelled input/output pairs be presented,
        and in not needing sub-optimal actions to be explicitly corrected. Instead the focus is on finding a balance
        between exploration (of uncharted territory) and exploitation (of current knowledge).</p>
    <p class="text-muted">Assuming full knowledge of the MDP, the two basic approaches to compute the optimal
        action-value function are <mark>value iteration</mark> and <mark>policy iteration</mark>.</p>
</div>
<div class="row" style="height: 100vh;">
    <div class="instructions col-lg-3 col-sm-12 col-md-4 w-50 hidden">
        <br>
        <br>
        <p class="text-white my-1 mx-3">Adjust gamma (discount factor).</p>
        <p class="text-white my-1 mx-3">Right click to add obstacles.</p>
        <p class="text-white my-1 mx-3">Left click to change source.</p>
        <p class="text-white my-1 mx-3">Middle click to change destination.</p>
        <p class="text-danger my-0 mx-3">Top right: value function</p>
        <p class="text-danger my-0 mx-3">Middle: optimal policy</p>
        <br>
    </div>
    <div id="sketch-holder" class="col-lg-9 col-sm-12 col-md-8" style="position: relative;">
    </div>
</div>


<style>
    .instructions {
        padding: 0px !important;
        display: block;
        margin: auto;
    }

    .info>.text-info {
        font-size: 1.10rem !important;
    }

    .info>.text-muted {
        font-size: 1rem !important;
    }
</style>
{% endblock body %}